<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391089853982-82j3jkmmg42p2dj245t7ic9n5pgvpkbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391089853982-82j3jkmmg42p2dj245t7ic9n5pgvpkbn</string>
	<key>API_KEY</key>
	<string>AIzaSyDlkpaWF9kQNLEZWmFe04IcVyixF3zWVEs</string>
	<key>GCM_SENDER_ID</key>
	<string>391089853982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.findMovies</string>
	<key>PROJECT_ID</key>
	<string>find-movies-f5d3b</string>
	<key>STORAGE_BUCKET</key>
	<string>find-movies-f5d3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391089853982:ios:c7c77033b8ab67c0afc00f</string>
</dict>
</plist>